<!DOCTYPE html>
<html>
<head>
  <title>Libary</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class= "jumbotron">
    <h1 class="bigFont">Library</h1>
  </div>
  <div class="buttons">
    <a class="btn btn-lg btn-success" href="/author/add" role="button">Add a new Author</a> <br>
    <a class="btn btn-lg btn-success" href="/book/add" role="button">Add a new Book</a> <br>
    <a class="btn btn-lg btn-success" href="/patron/add" role="button">Add a new Patron</a><br>

    <a class="btn btn-lg btn-success" href="/book/catalog" role="button">See Book Catalog</a><br>


  </div>
</body>
</html>
