<!DOCTYPE html>
<html>
<head>
  <title>Libary</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class= "jumbotron">
    <h1 class="bigFont">Library</h1>
  </div>

  <h1>Authors</h1>

  <form action="/author/add" method="post">
    <label for="newauthor">Add a Author </label>
    <input id="newauthor" name="newauthor" type="text" required>

    </select>
    <button type="submit">Submit</button>
  </form><br>
</body>
</html>
 
